/* GENERICS */
.separator{
    width: 150px;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
}

.separator:first-child{
    margin-right: 1rem;
}

.separator:last-child{
    margin-left: 1rem;
}


/* header */

header, .nav-link{
    color: white;
}

[class*="row"]{
    min-height: 80px;
    border: 1px dashed blue;
}

[class*="col"], section>*{
}

.col{
    min-width: 400px;
}

/* main */

.jumbotron{
    color: white;
}

.jumbotron img{
    min-width: 200px;
    min-height: 200px;
}


/* portfolio */

.portfolio-container .box.separator{
    background-color: black;
}

/* about */

.about{
    color: white;
}

.about .separator{
    background-color: white;
}




